body {
    background-image: url('images/background-image.jpg');
}
#nav-button {
    background-color: white;
}
#carouselWrapper {
    position: relative;
    left:25%;
    width: 700px;
}
#none {
    padding-left: 70px;
}