body {
    background-image: url('images/background-image.jpg');
}
#nav-button {
    background-color: white;
}
.jumbotron {
    background-color: rgba(128, 128, 128, 0.637);
    margin-right: 10px;
}
#carouselWrapper {
    position: relative;
    left:25%;
    width: 700px;
}
.fa-chevron-down {
    color: black;
}
#help {
    margin-top: 150px;
}
#description {
    width: 250px;
}
.list-group {
    width: 500px;
}
footer {
    margin-top: 100px;
    margin-right: 10px;
}